#textBody{
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:rgb(249, 249, 249);

}
#backgroundBody{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background: url(background.jpg);
    background-size: cover;
    background-color: blanchedalmond; 
}


.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;

    background-color: goldenrod;
    color: dimgray;
}

.fa:hover{
    opacity: 0.7;
}

#cw1{
    font-size: 25px;
    position: absolute;
    top: 130%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aliceblue;
}
#hw1{
    font-size: 25px;
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aliceblue;
}